{
  "openapi": "3.0.0",
  "info": {
    "title": "Limitless Exchange API",
    "description": "Production-ready REST API for prediction market trading, portfolio management, and market data on Limitless Exchange (Base L2).",
    "version": "1.0",
    "contact": {
      "name": "API Support",
      "url": "https://limitless.exchange",
      "email": "hey@limitless.network"
    }
  },
  "servers": [
    {
      "url": "https://api.limitless.exchange",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and session management"
    },
    {
      "name": "Markets",
      "description": "Browse, search, and analyze prediction markets"
    },
    {
      "name": "Market Navigation",
      "description": "Navigation tree, market pages, and property filters"
    },
    {
      "name": "Trading",
      "description": "Create, manage, and cancel orders"
    },
    {
      "name": "Portfolio",
      "description": "Position tracking, trade history, and performance"
    }
  ],
  "paths": {
    "/auth/signing-message": {
      "get": {
        "description": "Returns a signing message with a randomly generated nonce for authentication purposes.",
        "operationId": "AuthController_getSigningMessage",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A signing message containing a nonce has been successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "Welcome to Limitless.exchange! Please sign this message to verify your identity.\n\nNonce: 0xa1b2c3d4e5f67890..."
                }
              }
            }
          }
        },
        "summary": "Get signing message",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/verify-auth": {
      "get": {
        "description": "Verifies if the user is authenticated",
        "operationId": "AuthController_verifyAuth",
        "parameters": [],
        "responses": {
          "200": {
            "description": "User is authenticated"
          },
          "401": {
            "description": "User is not authenticated"
          }
        },
        "summary": "Verify authentication",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/login": {
      "post": {
        "deprecated": true,
        "description": "Deprecated. Cookie-based session login has been removed. Use API keys instead.",
        "operationId": "AuthController_login",
        "parameters": [],
        "responses": {
          "410": {
            "description": "Cookie-based session login has been removed. Use API keys instead."
          }
        },
        "summary": "User login (removed)",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/logout": {
      "post": {
        "description": "Logs out the user",
        "operationId": "AuthController_logout",
        "parameters": [],
        "responses": {
          "200": {
            "description": "User has been successfully logged out",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logged out successfully"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "User logout",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/api-keys": {
      "post": {
        "description": "Creates a new API key for programmatic access. Only available for users authenticated via the UI (Privy). Previous active keys are automatically revoked.",
        "operationId": "ApiKeyController_createApiKey",
        "parameters": [],
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keyId": {
                      "type": "string",
                      "description": "Unique identifier for the API key",
                      "example": "key_abc123def456"
                    },
                    "apiKey": {
                      "type": "string",
                      "description": "The API key value. Only shown once at creation time.",
                      "example": "lmts_sk_1234567890abcdef..."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the key was created",
                      "example": "2025-06-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "API key management is only available via the UI"
          }
        },
        "summary": "Create API key",
        "tags": [
          "Authentication"
        ]
      },
      "get": {
        "description": "Returns the currently active API key metadata for the authenticated user. Does not return the key value itself.",
        "operationId": "ApiKeyController_getActiveKey",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Active API key metadata, or null if no active key exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "keyId": {
                      "type": "string",
                      "description": "Unique identifier for the API key",
                      "example": "key_abc123def456"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the key was created",
                      "example": "2025-06-15T10:30:00Z"
                    },
                    "lastUsedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "When the key was last used",
                      "example": "2025-06-16T08:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get active API key",
        "tags": [
          "Authentication"
        ]
      },
      "delete": {
        "description": "Revokes the currently active API key. The key will immediately stop working for authentication.",
        "operationId": "ApiKeyController_revokeKey",
        "parameters": [],
        "responses": {
          "200": {
            "description": "API key revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "API key revoked successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No active API key found"
          },
          "403": {
            "description": "API key management is only available via the UI"
          }
        },
        "summary": "Revoke API key",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/markets/active/{categoryId}": {
      "get": {
        "description": "Retrieves markets and groups that are active and not yet resolved, with optional category filtering",
        "operationId": "MarketController_getActiveMarkets[0]",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "example": 10,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "description": "Sort by query parameter",
            "schema": {
              "example": "newest",
              "type": "string"
            }
          },
          {
            "name": "tradeType",
            "required": false,
            "in": "query",
            "description": "Filter by trade type (amm, clob, or group)",
            "schema": {
              "enum": [
                "amm",
                "clob",
                "group"
              ],
              "type": "string"
            }
          },
          {
            "name": "automationType",
            "required": false,
            "in": "query",
            "description": "Filter by automation type (manual, lumy, or sports)",
            "schema": {
              "enum": [
                "manual",
                "lumy",
                "sports"
              ],
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "required": false,
            "in": "path",
            "description": "Filter markets by category ID",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active markets and groups with volume and liquidity data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowseActiveMarketsResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error when retrieving markets data"
          }
        },
        "summary": "Browse Active Markets",
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/active": {
      "get": {
        "description": "Retrieves markets and groups that are active and not yet resolved, with optional category filtering",
        "operationId": "MarketController_getActiveMarkets[1]",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "example": 10,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "description": "Sort by query parameter",
            "schema": {
              "example": "newest",
              "type": "string"
            }
          },
          {
            "name": "tradeType",
            "required": false,
            "in": "query",
            "description": "Filter by trade type (amm, clob, or group)",
            "schema": {
              "enum": [
                "amm",
                "clob",
                "group"
              ],
              "type": "string"
            }
          },
          {
            "name": "automationType",
            "required": false,
            "in": "query",
            "description": "Filter by automation type (manual, lumy, or sports)",
            "schema": {
              "enum": [
                "manual",
                "lumy",
                "sports"
              ],
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "required": false,
            "in": "path",
            "description": "Filter markets by category ID",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active markets and groups with volume and liquidity data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowseActiveMarketsResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error when retrieving markets data"
          }
        },
        "summary": "Browse Active Markets",
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/categories/count": {
      "get": {
        "description": "Returns the number of active markets for each category and the total market count",
        "operationId": "MarketController_getActiveMarketCountPerCategory",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Object containing category counts and total count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryCountResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error when retrieving category count data"
          }
        },
        "summary": "Get active market count per category",
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/active/slugs": {
      "get": {
        "description": "Retrieves slugs, strike prices, tickers, and deadlines for all active markets and groups. Group markets are nested under their parent group.",
        "operationId": "MarketController_getActiveSlugs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of active market and group slugs with metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string",
                        "description": "Market or group slug identifier",
                        "example": "btc-price-prediction-2024"
                      },
                      "strikePrice": {
                        "type": "string",
                        "nullable": true,
                        "description": "Strike price (null for groups)",
                        "example": "50000"
                      },
                      "ticker": {
                        "type": "string",
                        "nullable": true,
                        "description": "Asset ticker symbol",
                        "example": "BTC"
                      },
                      "deadline": {
                        "type": "string",
                        "nullable": true,
                        "format": "date-time",
                        "description": "Expiration deadline",
                        "example": "2024-12-31T23:59:59Z"
                      },
                      "markets": {
                        "type": "array",
                        "nullable": true,
                        "description": "Nested markets (group entries only)",
                        "items": {
                          "type": "object",
                          "properties": {
                            "slug": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "slug"
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error when retrieving market slugs"
          }
        },
        "summary": "Get active market slugs with metadata",
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{addressOrSlug}": {
      "get": {
        "description": "Retrieves market or group data using either an Ethereum address or a slug identifier",
        "operationId": "MarketController_find",
        "parameters": [
          {
            "name": "addressOrSlug",
            "required": true,
            "in": "path",
            "description": "Market/group address (0x...) or slug identifier (my-market-name)",
            "schema": {
              "example": "crypto-predictions-2025"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market or group details with pricing and volume data",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ClobMarketResponseDto",
                      "description": "CLOB market with position IDs and trading data"
                    },
                    {
                      "$ref": "#/components/schemas/NegRiskGroupResponseDto",
                      "description": "NegRisk group with nested markets array"
                    },
                    {
                      "$ref": "#/components/schemas/AmmMarketResponseDto",
                      "description": "AMM market with liquidity and volume data"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Market or group not found"
          },
          "500": {
            "description": "Server error when retrieving market/group data"
          }
        },
        "summary": "Get Market Details",
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{addressOrSlug}/oracle-candles": {
      "get": {
        "description": "Returns Chainlink candlestick data for markets configured with Chainlink Data Streams chart metadata. Useful for charting the underlying oracle price alongside prediction market prices.",
        "operationId": "MarketController_getOracleCandles",
        "parameters": [
          {
            "name": "addressOrSlug",
            "required": true,
            "in": "path",
            "description": "Market address (0x...) or slug identifier",
            "schema": {
              "type": "string",
              "example": "btc-above-100k-june"
            }
          },
          {
            "name": "interval",
            "required": false,
            "in": "query",
            "description": "Candlestick interval",
            "schema": {
              "type": "string",
              "enum": ["1m", "5m", "15m", "1h", "4h", "1d"],
              "default": "1m"
            }
          },
          {
            "name": "from",
            "required": false,
            "in": "query",
            "description": "Start timestamp in UNIX seconds. Defaults to market creation time minus 15 minutes.",
            "schema": {
              "type": "number",
              "example": 1719792000
            }
          },
          {
            "name": "to",
            "required": false,
            "in": "query",
            "description": "End timestamp in UNIX seconds. Defaults to now.",
            "schema": {
              "type": "number",
              "example": 1719878400
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candlestick data for the underlying oracle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "interval": {
                      "type": "string",
                      "description": "The requested candlestick interval",
                      "example": "1h"
                    },
                    "source": {
                      "type": "string",
                      "description": "Data source identifier",
                      "example": "chainlink"
                    },
                    "symbol": {
                      "type": "string",
                      "description": "The resolved Chainlink symbol",
                      "example": "BTC/USD"
                    },
                    "timestampStart": {
                      "type": "number",
                      "description": "Start of the data range (UNIX seconds)",
                      "example": 1719792000
                    },
                    "timestampEnd": {
                      "type": "number",
                      "description": "End of the data range (UNIX seconds)",
                      "example": 1719878400
                    },
                    "rows": {
                      "type": "array",
                      "description": "Array of OHLCV candlestick rows",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "number",
                            "description": "Candle open time (UNIX seconds)"
                          },
                          "open": {
                            "type": "number",
                            "description": "Opening price"
                          },
                          "high": {
                            "type": "number",
                            "description": "Highest price"
                          },
                          "low": {
                            "type": "number",
                            "description": "Lowest price"
                          },
                          "close": {
                            "type": "number",
                            "description": "Closing price"
                          },
                          "volume": {
                            "type": "number",
                            "description": "Trading volume"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid interval, time range, or market does not have Chainlink oracle configured"
          },
          "404": {
            "description": "Market not found"
          },
          "502": {
            "description": "Failed to fetch data from Chainlink"
          }
        },
        "summary": "Get oracle candlesticks",
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{slug}/get-feed-events": {
      "get": {
        "description": "Retrieves the latest feed events related to a specific market with pagination support",
        "operationId": "MarketController_getFeedEvent",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of events per page",
            "schema": {
              "example": 10,
              "type": "number"
            }
          },
          {
            "name": "slug",
            "required": false,
            "in": "path",
            "description": "Slug of the market",
            "schema": {
              "example": "my-market-slug-123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of feed events for the market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedEventsResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error when retrieving feed events"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get feed events for a market",
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{slug}/historical-price": {
      "get": {
        "description": "Retrieve historical price data for a specific market with configurable time intervals",
        "operationId": "MarketOrderbookController_getHistoricalPrice",
        "parameters": [
          {
            "name": "to",
            "required": false,
            "in": "query",
            "description": "End date for historical data",
            "schema": {
              "example": "2024-01-31T23:59:59Z"
            }
          },
          {
            "name": "from",
            "required": false,
            "in": "query",
            "description": "Start date for historical data",
            "schema": {
              "example": "2024-01-01T00:00:00Z"
            }
          },
          {
            "name": "interval",
            "required": false,
            "in": "query",
            "description": "Time interval for data points",
            "schema": {
              "enum": [
                "1h",
                "6h",
                "1d",
                "1w",
                "1m",
                "all"
              ],
              "type": "string"
            }
          },
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "description": "Market slug identifier",
            "schema": {
              "example": "presidential-election-2024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical price data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "example": "YES Token"
                      },
                      "prices": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "price": {
                              "type": "number",
                              "example": 0.75
                            },
                            "timestamp": {
                              "type": "string",
                              "example": "2024-01-15T10:30:00Z"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get Historical Prices",
        "tags": [
          "Trading"
        ]
      }
    },
    "/markets/{slug}/orderbook": {
      "get": {
        "description": "Retrieve the current orderbook for a market showing all open buy and sell orders",
        "operationId": "MarketOrderbookController_getOrderbook",
        "parameters": [
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "description": "Market slug identifier",
            "schema": {
              "example": "presidential-election-2024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current orderbook with bids and asks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adjustedMidpoint": {
                      "type": "number",
                      "example": 0.75
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number",
                            "example": 0.76
                          },
                          "size": {
                            "type": "number",
                            "example": 100
                          }
                        }
                      }
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number",
                            "example": 0.74
                          },
                          "size": {
                            "type": "number",
                            "example": 150
                          }
                        }
                      }
                    },
                    "lastTradePrice": {
                      "type": "number",
                      "example": 0.75
                    },
                    "maxSpread": {
                      "type": "number",
                      "example": 0.05
                    },
                    "minSize": {
                      "type": "number",
                      "example": 1
                    },
                    "tokenId": {
                      "type": "string",
                      "example": "19633204485790857949828516737993423758628930235371629943999544859324645414627"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Market does not support orderbook (AMM market)"
          },
          "404": {
            "description": "Market not found"
          }
        },
        "summary": "Get Orderbook",
        "tags": [
          "Trading"
        ]
      }
    },
    "/markets/{slug}/locked-balance": {
      "get": {
        "description": "Get the amount of funds locked in open orders for the authenticated user",
        "operationId": "MarketOrderbookController_getLockedBalance",
        "parameters": [
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "description": "Market slug identifier",
            "schema": {
              "example": "presidential-election-2024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User's locked balance details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lockedBalance": {
                      "type": "string",
                      "example": "250.50"
                    },
                    "lockedBalanceFormatted": {
                      "type": "string",
                      "example": "250.50 USDC"
                    },
                    "currency": {
                      "type": "string",
                      "example": "USDC"
                    },
                    "orderCount": {
                      "type": "number",
                      "example": 3
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get Locked Balance",
        "tags": [
          "Trading"
        ]
      }
    },
    "/markets/{slug}/user-orders": {
      "get": {
        "description": "Get all orders placed by the authenticated user for a specific market",
        "operationId": "MarketOrderbookController_getUserOrders",
        "parameters": [
          {
            "name": "statuses",
            "required": false,
            "in": "query",
            "description": "Order status(es) to filter by. Defaults to [LIVE] if not provided",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "LIVE",
                  "MATCHED"
                ]
              }
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of orders to return",
            "schema": {
              "minimum": 1,
              "example": 100,
              "type": "number"
            }
          },
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "description": "Market slug identifier",
            "schema": {
              "example": "presidential-election-2024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user orders for the market",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "12345"
                          },
                          "side": {
                            "type": "string",
                            "example": "BUY"
                          },
                          "price": {
                            "type": "string",
                            "example": "0.75"
                          },
                          "quantity": {
                            "type": "string",
                            "example": "100"
                          },
                          "status": {
                            "type": "string",
                            "example": "LIVE"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "User Orders",
        "tags": [
          "Trading"
        ]
      }
    },
    "/markets/{slug}/events": {
      "get": {
        "description": "Get recent events for a specific market including trades, orders, and liquidity changes",
        "operationId": "MarketOrderbookController_getMarketEvents",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of events per page",
            "schema": {
              "example": 20,
              "type": "number"
            }
          },
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "description": "Market slug identifier",
            "schema": {
              "example": "presidential-election-2024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of market events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "event-123"
                          },
                          "type": {
                            "type": "string",
                            "example": "ORDER_PLACED"
                          },
                          "timestamp": {
                            "type": "string",
                            "example": "2024-01-15T10:30:00Z"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Market Events",
        "tags": [
          "Trading"
        ]
      }
    },
    "/markets/search": {
      "get": {
        "operationId": "MarketSearchController_search",
        "parameters": [
          {
            "name": "query",
            "required": true,
            "in": "query",
            "description": "Search query text",
            "schema": {
              "example": "Sports betting markets with high odds",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "default": 10,
              "example": 10,
              "type": "number"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Number of page",
            "schema": {
              "default": 1,
              "example": 0,
              "type": "number"
            }
          },
          {
            "name": "similarityThreshold",
            "required": false,
            "in": "query",
            "description": "Minimum similarity score (0-1)",
            "schema": {
              "default": 0.5,
              "example": 0.5,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns markets matching the search query"
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "summary": "Search for markets based on semantic similarity",
        "tags": [
          "Markets"
        ]
      }
    },
    "/portfolio/trades": {
      "get": {
        "description": "Retrieve all AMM trades executed by the authenticated user",
        "operationId": "PortfolioController_getTrades",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of user trades with details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryTradeDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get Trades",
        "tags": [
          "Portfolio"
        ]
      }
    },
    "/portfolio/positions": {
      "get": {
        "description": "Retrieve all active positions with P&L calculations and market values",
        "operationId": "PortfolioController_getPositions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Complete portfolio positions with summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioPositionsDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get Positions",
        "tags": [
          "Portfolio"
        ]
      }
    },
    "/portfolio/pnl-chart": {
      "get": {
        "description": "Hybrid PnL: realised series + current total snapshot",
        "operationId": "PortfolioController_getPnlChart",
        "parameters": [
          {
            "name": "timeframe",
            "required": false,
            "in": "query",
            "description": "Timeframe window for percent change and chart series",
            "schema": {
              "example": "7d",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PnL chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioPnlChartDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get portfolio PnL chart",
        "tags": [
          "Portfolio"
        ]
      }
    },
    "/portfolio/history": {
      "get": {
        "description": "Paginated history including AMM, CLOB trades, splits/merges, NegRisk conversions",
        "operationId": "PortfolioController_getHistory",
        "parameters": [
          {
            "name": "page",
            "required": true,
            "in": "query",
            "description": "Page number",
            "schema": {
              "example": 1,
              "type": "number"
            }
          },
          {
            "name": "limit",
            "required": true,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "example": 10,
              "type": "number"
            }
          },
          {
            "name": "from",
            "required": false,
            "in": "query",
            "description": "Start date for filtering (ISO 8601 format)",
            "schema": {
              "format": "date-time",
              "example": "2024-01-01T00:00:00.000Z",
              "type": "string"
            }
          },
          {
            "name": "to",
            "required": false,
            "in": "query",
            "description": "End date for filtering (ISO 8601 format)",
            "schema": {
              "format": "date-time",
              "example": "2024-12-31T23:59:59.999Z",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated history of all user actions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pagination parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get History",
        "tags": [
          "Portfolio"
        ]
      }
    },
    "/portfolio/points": {
      "get": {
        "operationId": "PortfolioController_getPointsBreakdown",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Points breakdown"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get points breakdown",
        "tags": [
          "Portfolio"
        ]
      }
    },
    "/portfolio/{account}/traded-volume": {
      "get": {
        "description": "Get total traded volume for a specific user. Returns combined CLOB and AMM volume (both taker and maker sides) in whole USDC. This is the all-time cumulative trading volume, not the current portfolio value.",
        "operationId": "PublicPortfolioController_tradedVolume",
        "parameters": [
          {
            "name": "account",
            "required": true,
            "in": "path",
            "description": "User Ethereum address",
            "schema": {
              "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User trading volume",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "description": "Total traded volume in whole USDC (no decimal divisor needed). Includes both taker and maker volume across CLOB and AMM trades.",
                      "example": "9702853"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "User Total Volume",
        "tags": [
          "Public Portfolio"
        ]
      }
    },
    "/portfolio/{account}/positions": {
      "get": {
        "description": "Retrieve all positions for a specific user address",
        "operationId": "PublicPortfolioController_getPositions",
        "parameters": [
          {
            "name": "account",
            "required": true,
            "in": "path",
            "description": "User Ethereum address",
            "schema": {
              "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Complete list of user positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioPositionsDto"
                }
              }
            }
          }
        },
        "summary": "Get All User Positions",
        "tags": [
          "Public Portfolio"
        ]
      }
    },
    "/portfolio/{account}/pnl-chart": {
      "get": {
        "description": "Hybrid PnL: realised series + current total snapshot",
        "operationId": "PublicPortfolioController_getPnlChart",
        "parameters": [
          {
            "name": "account",
            "required": true,
            "in": "path",
            "description": "User Ethereum address",
            "schema": {
              "example": "0x742d35Cc6634C0532925a3b844Bc454e4438f44e",
              "type": "string"
            }
          },
          {
            "name": "timeframe",
            "required": false,
            "in": "query",
            "description": "Timeframe window for percent change and chart series",
            "schema": {
              "example": "7d",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PnL chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioPnlChartDto"
                }
              }
            }
          }
        },
        "summary": "Get portfolio PnL chart (public)",
        "tags": [
          "Public Portfolio"
        ]
      }
    },
    "/portfolio/trading/allowance": {
      "get": {
        "description": "Check USDC allowance for CLOB or NegRisk trading contracts",
        "operationId": "TradingPortfolioController_getAllowance",
        "parameters": [
          {
            "name": "type",
            "required": true,
            "in": "query",
            "description": "Trading type: CLOB or NegRisk",
            "schema": {
              "enum": [
                "clob",
                "negrisk"
              ],
              "type": "string"
            }
          },
          {
            "name": "spender",
            "required": false,
            "in": "query",
            "description": "Optional spender address override (e.g., venue exchange address)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User allowance information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowance": {
                      "type": "string",
                      "example": "1000000000000"
                    },
                    "hasMinimumAllowance": {
                      "type": "boolean",
                      "example": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "clob",
                        "negrisk"
                      ],
                      "example": "clob"
                    },
                    "spender": {
                      "type": "string",
                      "example": "0x..."
                    },
                    "checkedAddress": {
                      "type": "string",
                      "example": "0x..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid type parameter"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Profile not found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get User Trading Allowance",
        "tags": [
          "Portfolio"
        ]
      }
    },
    "/navigation": {
      "get": {
        "description": "Returns the hierarchical navigation structure for market pages",
        "operationId": "MarketNavigationController_getNavigationTree",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Navigation tree retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NavigationNodeDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get navigation tree",
        "tags": [
          "Market Navigation"
        ]
      }
    },
    "/market-pages/by-path": {
      "get": {
        "description": "Resolves a URL path to a market page with its configuration, filters, and breadcrumb",
        "operationId": "MarketNavigationController_byPath",
        "parameters": [
          {
            "name": "path",
            "required": true,
            "in": "query",
            "description": "URL path to resolve (e.g., \"/sports/football\")",
            "schema": {
              "example": "/sports/football",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Market page resolved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPageByPathResponseDto"
                }
              }
            }
          },
          "301": {
            "description": "Path has been redirected to a new location"
          },
          "400": {
            "description": "Invalid or missing path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Market page not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get market page by path",
        "tags": [
          "Market Navigation"
        ]
      }
    },
    "/market-pages/{id}/markets": {
      "get": {
        "description": "Returns paginated list of markets for a specific market page with filtering and sorting",
        "operationId": "MarketNavigationController_listMarkets",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Market page ID",
            "schema": {
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "Cursor token for cursor-based pagination (cannot be used with page)",
            "schema": {}
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Sort field with optional - prefix for descending (e.g., -updatedAt, createdAt, deadline)",
            "schema": {
              "example": "-updatedAt"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Number of items per page (max 100)",
            "schema": {
              "example": 20
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number for offset pagination (cannot be used with cursor)",
            "schema": {
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketsResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or pagination mode conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "List markets for a page",
        "tags": [
          "Market Navigation"
        ]
      }
    },
    "/property-keys": {
      "get": {
        "description": "Returns all property keys with their options, sorted by slug",
        "operationId": "MarketNavigationController_listPropertyKeys",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Property keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PropertyKeyResponseDto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "List property keys",
        "tags": [
          "Market Navigation"
        ]
      }
    },
    "/property-keys/{id}": {
      "get": {
        "description": "Returns a specific property key with its options",
        "operationId": "MarketNavigationController_getPropertyKey",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Property key ID",
            "schema": {
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property key retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyKeyResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Property key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get property key by ID",
        "tags": [
          "Market Navigation"
        ]
      }
    },
    "/property-keys/{id}/options": {
      "get": {
        "description": "Returns options for a specific property key, optionally filtered by parent option",
        "operationId": "MarketNavigationController_listPropertyOptions",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "Property key ID",
            "schema": {
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "required": false,
            "in": "query",
            "description": "Parent option ID for hierarchical filtering",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property options retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PropertyOptionResponseDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid property key ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "List property options",
        "tags": [
          "Market Navigation"
        ]
      }
    },
    "/orders": {
      "post": {
        "description": "Creates a buy/sell order for prediction market positions. Requires signed order data.",
        "operationId": "OrderController_createOrder",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "Order creation data including signature and order parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order successfully created and matched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid order data, insufficient balance/allowance, or market deadline passed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "User not authenticated"
          },
          "500": {
            "description": "Server error during order creation"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Create Order",
        "tags": [
          "Trading"
        ]
      }
    },
    "/orders/status/batch": {
      "post": {
        "description": "Fetches historical order statuses for multiple orders by internal order IDs and/or client-provided order IDs. Returns execution details, settlement status, and maker match data for each order.",
        "operationId": "OrderController_getOrderStatusBatch",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchOrderStatusRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch order statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderStatusResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "User not authenticated"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get order statuses in batch",
        "tags": [
          "Trading"
        ]
      }
    },
    "/orders/{orderId}": {
      "delete": {
        "description": "Cancel an open order and return locked funds",
        "operationId": "OrderController_cancelOrder",
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the order to be cancelled",
            "schema": {
              "example": "6f52b6d2-6c9e-4a5c-8a4f-28ab4b7ff203",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order successfully cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Order cannot be cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "User not authenticated or not the order owner"
          },
          "500": {
            "description": "Server error during cancellation"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Cancel Order",
        "tags": [
          "Trading"
        ]
      }
    },
    "/orders/cancel-batch": {
      "post": {
        "operationId": "OrderController_cancelOrderBatch",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteOrderBatchDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All orders successfully cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderBatchResponseDto"
                }
              }
            }
          },
          "207": {
            "description": "Partial success - some orders cancelled, some failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelOrderBatchResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Orders from different markets, invalid order data, or no orders could be cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "User not authenticated or not the owner of all orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error during batch cancellation"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Cancel multiple orders in batch",
        "tags": [
          "Trading"
        ]
      }
    },
    "/orders/all/{slug}": {
      "delete": {
        "operationId": "OrderController_cancelAllOrders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "All orders successfully cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAllOrdersResponseDto"
                }
              }
            }
          },
          "207": {
            "description": "Partial success - some orders cancelled, some failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAllOrdersResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid market slug or no orders could be cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "User not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Server error during cancellation"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Cancel all of a user's orders in a specific market",
        "tags": [
          "Trading"
        ]
      }
    },
    "/profiles/{account}": {
      "get": {
        "description": "Retrieve the authenticated user's profile, including their internal user ID and fee rate. This is useful for API users who need their `feeRateBps` (for order signing) or numeric `id` (used as `ownerId` in other flows). You can only access your own profile — requesting another user's address returns 403.",
        "operationId": "ProfileController_findOne",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your wallet address (the address associated with your API key)",
            "example": "0x27b4afBD88fE7c88c6897BB0b4ADE338D0401E37"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile with fee rate and rank information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key"
          },
          "403": {
            "description": "Forbidden — cannot access another user's private profile. Use the public profile endpoint instead."
          },
          "404": {
            "description": "Profile not found for the given address"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get your profile",
        "tags": [
          "Portfolio"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for programmatic access. Generate at limitless.exchange -> profile menu -> Api keys."
      },
      "HmacAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "lmts-api-key",
        "description": "Scoped API token with HMAC-SHA256 signing. Requires three headers: lmts-api-key (token ID), lmts-timestamp (ISO-8601), lmts-signature (Base64-encoded HMAC). See Authentication docs for details."
      }
    },
    "schemas": {
      "ProfileResponse": {
        "type": "object",
        "description": "User profile including trading rank and fee rate",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Internal user ID (used as ownerId in other API flows)",
            "example": 42
          },
          "account": {
            "type": "string",
            "description": "Ethereum wallet address",
            "example": "0x27b4afBD88fE7c88c6897BB0b4ADE338D0401E37"
          },
          "username": {
            "type": "string",
            "description": "Unique username",
            "example": "trader123"
          },
          "displayName": {
            "type": "string",
            "description": "Display name shown in the UI",
            "example": "Trader 123"
          },
          "bio": {
            "type": "string",
            "nullable": true,
            "description": "User biography"
          },
          "client": {
            "type": "string",
            "description": "Client type used during registration",
            "example": "eoa"
          },
          "pfpUrl": {
            "type": "string",
            "nullable": true,
            "description": "Profile picture URL"
          },
          "smartWallet": {
            "type": "string",
            "nullable": true,
            "description": "Smart wallet address, if configured"
          },
          "isCreator": {
            "type": "boolean",
            "description": "Whether the user is a market creator"
          },
          "isOnboarded": {
            "type": "boolean",
            "description": "Whether the user has completed onboarding"
          },
          "socialUrl": {
            "type": "string",
            "nullable": true,
            "description": "URL to the user's social media profile"
          },
          "hasTraded": {
            "type": "boolean",
            "description": "Whether the user has executed at least one trade"
          },
          "tradeWalletOption": {
            "type": "string",
            "nullable": true,
            "enum": ["eoa", "smartWallet"],
            "description": "Which wallet is used for trading"
          },
          "tradeWalletChoosen": {
            "type": "boolean",
            "description": "Whether the user has selected a trade wallet"
          },
          "embeddedAccount": {
            "type": "string",
            "nullable": true,
            "description": "Embedded wallet address (Privy)"
          },
          "mode": {
            "type": "string",
            "enum": ["simple", "advanced"],
            "description": "Trading UI mode"
          },
          "referralCode": {
            "type": "string",
            "nullable": true,
            "description": "User's referral code"
          },
          "points": {
            "type": "number",
            "description": "Current points balance",
            "example": 15000
          },
          "accumulativePoints": {
            "type": "number",
            "description": "Total accumulated points (all-time)",
            "example": 50000
          },
          "rank": {
            "type": "object",
            "description": "User's trading rank, which determines the fee rate applied to orders",
            "properties": {
              "id": {
                "type": "integer",
                "description": "Rank ID"
              },
              "name": {
                "type": "string",
                "enum": ["Bronze", "Silver", "Gold", "Platinum", "Diamond"],
                "description": "Rank tier name",
                "example": "Gold"
              },
              "feeRateBps": {
                "type": "integer",
                "description": "Fee rate in basis points applied to this user's orders. Use this value when constructing signed orders.",
                "example": 200
              }
            }
          },
          "referralData": {
            "type": "array",
            "description": "Users referred by this user",
            "items": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When the referral was created"
                },
                "id": {
                  "type": "integer",
                  "description": "Referral record ID"
                },
                "referredProfileId": {
                  "type": "integer",
                  "description": "Profile ID of the referred user"
                },
                "pfpUrl": {
                  "type": "string",
                  "nullable": true,
                  "description": "Profile picture of the referred user"
                },
                "displayName": {
                  "type": "string",
                  "description": "Display name of the referred user"
                }
              }
            }
          },
          "referredUsersCount": {
            "type": "integer",
            "description": "Number of users referred"
          },
          "enrolledInPointsProgram": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the user is enrolled in the points program"
          },
          "leaderboardPosition": {
            "type": "integer",
            "description": "Position on the leaderboard"
          },
          "isTop100": {
            "type": "boolean",
            "description": "Whether the user is in the top 100 on the leaderboard"
          },
          "isCaptain": {
            "type": "boolean",
            "description": "Whether the user is a competition team captain"
          }
        }
      },
      "CreateUserDto": {
        "type": "object",
        "properties": {
          "client": {
            "type": "string",
            "description": "Client type for authentication",
            "enum": [
              "eoa",
              "etherspot",
              "base"
            ],
            "example": "eoa"
          },
          "smartWallet": {
            "type": "string",
            "description": "Smart wallet address (required for Smart Wallet client)",
            "example": "0x1234567890123456789012345678901234567890"
          },
          "r": {
            "type": "string",
            "description": "Referral code associated with the user who referred (invited) this user"
          }
        },
        "required": [
          "client"
        ]
      },
      "BrowseActiveMarketsResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of active markets with complete trading data including volume, liquidity, and recent feed events",
            "example": [
              {
                "id": 7495,
                "address": "0x76d3e2098Be66Aa7E15138F467390f0Eb7349B9b",
                "conditionId": "0x812f578437dc536def1412e4e593ef310884262c22868b30c1e58582e5f3e9bf",
                "title": "$DOGE above $0.21652 on Sep 1, 12:00 UTC?",
                "description": "This market will resolve to \"YES\" if the price of $DOGE is above $0.21652...",
                "collateralToken": {
                  "address": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                  "decimals": 6,
                  "symbol": "USDC"
                },
                "creator": {
                  "name": "Limitless",
                  "imageURI": "https://limitless.exchange/assets/images/logo.svg",
                  "link": "https://x.com/trylimitless"
                },
                "prices": [
                  42.8,
                  57.2
                ],
                "categories": [
                  "Hourly"
                ],
                "tags": [
                  "Lumy",
                  "Recurring",
                  "Hourly",
                  "Simple Mode"
                ],
                "status": "FUNDED",
                "expired": false,
                "expirationDate": "Sep 1, 2025",
                "expirationTimestamp": 1756728000000,
                "volume": "164109293",
                "volumeFormatted": "164.109293",
                "openInterest": "48310707",
                "openInterestFormatted": "48.310707",
                "liquidity": "50000000",
                "liquidityFormatted": "50.000000",
                "tradeType": "amm",
                "marketType": "single",
                "slug": "dollardoge-above-dollar021652-on-sep-1-1200-utc-1756724413009",
                "feedEvents": [
                  {
                    "eventType": "NEW_TRADE",
                    "timestamp": "2025-09-01T11:30:31.000Z",
                    "user": {
                      "id": 7080,
                      "account": "0xea27f6788F083e6070961d3E52A2e596367E04CC",
                      "name": "GG",
                      "rankName": "Bronze",
                      "points": "0.00000000"
                    },
                    "data": {
                      "title": "$DOGE above $0.21652 on Sep 1, 12:00 UTC?",
                      "address": "0x76d3e2098Be66Aa7E15138F467390f0Eb7349B9b",
                      "strategy": "Buy",
                      "outcome": "NO",
                      "contracts": "9.071313",
                      "tradeAmount": "5",
                      "tradeAmountUSD": "4.999525",
                      "marketId": 7495
                    }
                  }
                ]
              }
            ],
            "items": {
              "type": "object",
              "description": "Market object with complete trading data (FEMarket type)",
              "additionalProperties": true
            }
          },
          "totalMarketsCount": {
            "type": "number",
            "description": "Total number of active markets available for pagination",
            "example": 150
          }
        },
        "required": [
          "data",
          "totalMarketsCount"
        ]
      },
      "CategoryCountResponseDto": {
        "type": "object",
        "properties": {
          "category": {
            "type": "object",
            "description": "Number of active markets per category",
            "example": {
              "1": 10,
              "2": 5,
              "3": 8
            },
            "additionalProperties": {
              "type": "number"
            }
          },
          "totalCount": {
            "type": "number",
            "description": "Total number of active markets",
            "example": 23
          }
        },
        "required": [
          "category",
          "totalCount"
        ]
      },
      "FeedEventsResponseDto": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "Array of feed events with pagination (FEFeedEvents type)",
            "example": {
              "data": [
                {
                  "eventType": "NEW_TRADE",
                  "timestamp": "2025-09-01T11:30:31.000Z",
                  "user": {
                    "name": "GG",
                    "rankName": "Bronze"
                  },
                  "data": {
                    "title": "Market Title",
                    "strategy": "Buy",
                    "outcome": "YES"
                  }
                }
              ],
              "totalPages": 5
            },
            "additionalProperties": true
          }
        },
        "required": [
          "data"
        ]
      },
      "PortfolioRewardsChartEntryDto": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "number",
            "description": "Timestamp of the rewards entry",
            "example": 1672531200000
          },
          "userRewards": {
            "type": "string",
            "description": "User rewards for this timestamp in token decimals",
            "example": "25000000"
          },
          "totalRewards": {
            "type": "string",
            "description": "Total rewards for this timestamp in token decimals",
            "example": "60000000"
          }
        },
        "required": [
          "timestamp",
          "userRewards",
          "totalRewards"
        ]
      },
      "EpochRewardDataDto": {
        "type": "object",
        "properties": {
          "epochId": {
            "type": "number",
            "description": "Unique identifier of the epoch",
            "example": 1
          },
          "timestamp": {
            "format": "date-time",
            "type": "string",
            "description": "Timestamp when the epoch occurred",
            "example": "2024-01-01T00:00:00.000Z"
          },
          "totalRewards": {
            "type": "string",
            "description": "Total rewards distributed in this epoch in token decimals",
            "example": "1500000"
          },
          "userRewards": {
            "type": "string",
            "description": "User rewards earned in this epoch in token decimals",
            "example": "150000"
          },
          "earnedPercent": {
            "type": "number",
            "description": "Part of total rewards earned by the user - [0; 1]",
            "example": 0.1
          }
        },
        "required": [
          "epochId",
          "timestamp",
          "totalRewards",
          "userRewards",
          "earnedPercent"
        ]
      },
      "PortfolioRewardsDto": {
        "type": "object",
        "properties": {
          "todaysRewards": {
            "type": "string",
            "description": "Rewards earned today in token decimals",
            "example": "50250000"
          },
          "totalUnpaidRewards": {
            "type": "string",
            "description": "Total unpaid rewards in token decimals",
            "example": "200750000"
          },
          "totalUserRewardsLastEpoch": {
            "type": "string",
            "description": "Total user rewards from the last epoch in token decimals",
            "example": "150500000"
          },
          "rewardsChartData": {
            "description": "Chart data showing rewards over time",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortfolioRewardsChartEntryDto"
            }
          },
          "rewardsByEpoch": {
            "description": "Rewards data by epoch",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EpochRewardDataDto"
            }
          }
        },
        "required": [
          "todaysRewards",
          "totalUnpaidRewards",
          "totalUserRewardsLastEpoch",
          "rewardsByEpoch"
        ]
      },
      "AmmPositionDto": {
        "type": "object",
        "properties": {
          "collateralAmount": {
            "type": "string",
            "description": "Amount of collateral invested in token decimals",
            "example": "100500000"
          },
          "latestTrade": {
            "type": "object",
            "description": "Latest trade associated with this position"
          },
          "market": {
            "type": "object",
            "description": "Market information for this position"
          },
          "outcomeIndex": {
            "type": "number",
            "description": "Index of the outcome token",
            "example": 0
          },
          "outcomeTokenAmount": {
            "type": "string",
            "description": "Amount of outcome tokens held in token decimals",
            "example": "50250000"
          },
          "account": {
            "type": "string",
            "description": "Wallet address that was used to create this position",
            "example": "0x1234567890123456789012345678901234567890"
          }
        },
        "required": [
          "market",
          "outcomeIndex"
        ]
      },
      "Market": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The address of the FixedProductMarketMaker contract.",
            "minLength": 42,
            "maxLength": 42,
            "nullable": true,
            "uniqueItems": true
          },
          "title": {
            "type": "string",
            "description": "Represents the question of the market, the title metadata of the market.",
            "maxLength": 70,
            "nullable": false,
            "uniqueItems": true
          },
          "proxyTitle": {
            "type": "string",
            "maxLength": 70,
            "default": null,
            "nullable": true,
            "uniqueItems": true
          },
          "description": {
            "type": "string",
            "description": "The description of the market.",
            "uniqueItems": false,
            "nullable": false
          },
          "question_id": {
            "type": "object",
            "description": "The bytes32 parsed title of the market.",
            "minLength": 66,
            "maxLength": 66,
            "uniqueItems": true,
            "nullable": true
          },
          "condition_id": {
            "type": "object",
            "description": "The bytes32 conditionId of the market, representing the conditions defined on condition preparation.",
            "minLength": 66,
            "maxLength": 66,
            "nullable": true,
            "uniqueItems": true
          },
          "position_ids": {
            "description": "Array of position IDs (max 2 elements)",
            "maxItems": 2,
            "nullable": true,
            "items": {
              "type": "array"
            },
            "type": "array"
          },
          "outcome_slot_count": {
            "type": "number",
            "description": "The number of outcomes in the market.",
            "minimum": 2,
            "maximum": 2,
            "nullable": false,
            "default": 2
          },
          "winning_index": {
            "type": "number",
            "description": "The outcome index that was reported by the oracle.",
            "minimum": 0,
            "maximum": 1,
            "nullable": true
          },
          "payout_numerators": {
            "description": "The oracle payout numerators that the oracle reported.",
            "nullable": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "Indicates the status of the market.",
            "nullable": false
          },
          "og_url": {
            "type": "string",
            "description": "The URL of the market OG image for SEO.",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "description": "The URL of the market logo image for SEO.",
            "nullable": true
          },
          "deadline": {
            "type": "string",
            "description": "The deadline of the market.",
            "nullable": false
          },
          "hidden": {
            "type": "boolean",
            "default": false
          },
          "txHash": {
            "type": "string",
            "default": null
          },
          "resolutionTxHash": {
            "type": "string",
            "default": null
          },
          "priority_index": {
            "type": "number",
            "default": null
          }
        },
        "required": [
          "address",
          "title",
          "proxyTitle",
          "description",
          "question_id",
          "condition_id",
          "position_ids",
          "outcome_slot_count",
          "winning_index",
          "payout_numerators",
          "status",
          "og_url",
          "image_url",
          "deadline",
          "hidden",
          "txHash",
          "resolutionTxHash",
          "priority_index"
        ]
      },
      "PositionDataDto": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "string",
            "description": "Cost basis of the position in token decimals (e.g. 1 USDC = 1000000)",
            "example": "75000000"
          },
          "fillPrice": {
            "type": "string",
            "description": "Average fill price of the position (price per share in token decimals)",
            "example": "750000"
          },
          "realisedPnl": {
            "type": "string",
            "description": "Realized profit/loss from closed positions in token decimals",
            "example": "0"
          },
          "unrealizedPnl": {
            "type": "string",
            "description": "Unrealized profit/loss based on current market price in token decimals",
            "example": "25000000"
          },
          "marketValue": {
            "type": "string",
            "description": "Current market value of the position in token decimals",
            "example": "100000000"
          }
        },
        "required": [
          "cost",
          "fillPrice",
          "realisedPnl",
          "unrealizedPnl",
          "marketValue"
        ]
      },
      "MarketPositionDataDto": {
        "type": "object",
        "properties": {
          "yes": {
            "description": "Position data for YES outcome",
            "example": {
              "cost": "75000000",
              "fillPrice": "750000",
              "realisedPnl": "0",
              "unrealizedPnl": "25000000",
              "marketValue": "100000000"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/PositionDataDto"
              }
            ]
          },
          "no": {
            "description": "Position data for NO outcome",
            "example": {
              "cost": "25000000",
              "fillPrice": "250000",
              "realisedPnl": "0",
              "unrealizedPnl": "-5000000",
              "marketValue": "20000000"
            },
            "allOf": [
              {
                "$ref": "#/components/schemas/PositionDataDto"
              }
            ]
          }
        },
        "required": [
          "yes",
          "no"
        ]
      },
      "ClobPositionDto": {
        "type": "object",
        "properties": {
          "market": {
            "description": "Market information",
            "allOf": [
              {
                "$ref": "#/components/schemas/Market"
              }
            ]
          },
          "positions": {
            "description": "Position data for the market",
            "allOf": [
              {
                "$ref": "#/components/schemas/MarketPositionDataDto"
              }
            ]
          },
          "latestTrade": {
            "type": "object",
            "description": "Latest trade prices"
          },
          "tokensBalance": {
            "type": "object",
            "description": "Token balances in token decimals"
          },
          "orders": {
            "type": "object",
            "description": "Order information"
          },
          "rewards": {
            "type": "object",
            "description": "Rewards information for this position"
          }
        },
        "required": [
          "market",
          "positions",
          "tokensBalance",
          "orders"
        ]
      },
      "HistoryTradeDto": {
        "type": "object",
        "description": "An AMM trade executed by the user",
        "properties": {
          "blockTimestamp": {
            "type": "string",
            "description": "Timestamp of the block containing the trade",
            "example": "2025-09-01T11:30:31.000Z"
          },
          "collateralAmount": {
            "type": "string",
            "description": "Collateral amount traded (in token decimals)",
            "example": "5000000"
          },
          "market": {
            "type": "object",
            "description": "Market details for the trade",
            "properties": {
              "conditionId": { "type": "string", "example": "0x812f578437dc..." },
              "expirationDate": { "type": "string", "example": "Sep 1, 2025" },
              "id": { "type": "string", "example": "0x76d3e2098Be6..." },
              "slug": { "type": "string", "example": "doge-above-021-sep-1" },
              "title": { "type": "string", "example": "$DOGE above $0.21652 on Sep 1?" }
            }
          },
          "outcomeIndex": {
            "type": "number",
            "description": "Index of the outcome traded (0 = YES, 1 = NO)",
            "example": 0
          },
          "outcomeTokenAmount": {
            "type": "string",
            "description": "Amount of outcome tokens traded",
            "example": "10000000"
          },
          "outcomeTokenAmounts": {
            "type": "array",
            "description": "Collateral per outcome token",
            "items": { "type": "string" },
            "example": ["5000000", "0"]
          },
          "outcomeTokenNetCost": {
            "type": "string",
            "description": "Net cost of the outcome tokens",
            "example": "4950000"
          },
          "outcomeTokenPrice": {
            "type": "string",
            "description": "Price of the outcome token at trade time",
            "example": "0.50"
          },
          "strategy": {
            "type": "string",
            "description": "Trade direction",
            "enum": ["Buy", "Sell"],
            "example": "Buy"
          },
          "transactionHash": {
            "type": "string",
            "description": "On-chain transaction hash",
            "example": "0xabc123..."
          }
        },
        "required": ["blockTimestamp", "market", "outcomeIndex", "outcomeTokenAmounts", "outcomeTokenNetCost", "transactionHash"]
      },
      "PortfolioPositionsDto": {
        "type": "object",
        "properties": {
          "rewards": {
            "description": "Rewards information for the portfolio",
            "allOf": [
              {
                "$ref": "#/components/schemas/PortfolioRewardsDto"
              }
            ]
          },
          "points": {
            "type": "number",
            "description": "User points",
            "example": 123
          },
          "accumulativePoints": {
            "type": "number",
            "description": "User accumulative points",
            "example": 456
          },
          "amm": {
            "description": "List of AMM positions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmmPositionDto"
            }
          },
          "clob": {
            "description": "List of CLOB positions",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClobPositionDto"
            }
          },
          "group": {
            "description": "Grouped CLOB positions (if enabled)",
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "rewards",
          "points",
          "accumulativePoints",
          "amm",
          "clob"
        ]
      },
      "PortfolioPnlChartPointDto": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "number",
            "description": "Point timestamp (ms)",
            "example": 1700000000000
          },
          "value": {
            "type": "number",
            "description": "Series value in USD (realised PnL)",
            "example": 123.45
          }
        },
        "required": [
          "timestamp",
          "value"
        ]
      },
      "PortfolioPnlChartDto": {
        "type": "object",
        "properties": {
          "timeframe": {
            "type": "string",
            "description": "Timeframe window used for previous/current comparison",
            "example": "7d"
          },
          "data": {
            "description": "Realised PnL series (USD) for the selected timeframe",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortfolioPnlChartPointDto"
            }
          },
          "currentValue": {
            "type": "number",
            "description": "Current realised PnL (USD)",
            "example": -7.04
          },
          "previousValue": {
            "type": "number",
            "description": "Previous realised PnL (USD) at timeframe start",
            "example": -6.5
          },
          "percentChange": {
            "type": "number",
            "description": "Percent change between previousValue and currentValue (realised PnL)",
            "example": 8.24
          },
          "current": {
            "type": "object",
            "description": "Current PnL snapshot (hybrid: realised + unrealized + total)",
            "nullable": true
          }
        },
        "required": [
          "timeframe",
          "data",
          "currentValue",
          "previousValue",
          "percentChange"
        ]
      },
[...]
